In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler, normalize

In [2]:
df=pd.read_csv('waternelon result.csv')

In [3]:
df.head()

,_id,originName,totalWeightSum,districtName,season,transmode,impExpFlag,commodity,organic,reportDate,...,Unnamed: 16374,Unnamed: 16375,Unnamed: 16376,Unnamed: 16377,Unnamed: 16378,Unnamed: 16379,Unnamed: 16380,Unnamed: 16381,Unnamed: 16382,Unnamed: 16383
0,"ObjectId(""5f0fcf208b390b44eccabe6f"")",MEXICO,216436,"MEXICO CROSSINGS THROUGH EAGLE PASS, TX",2019,Truck,I,Watermelons,FALSE,2020-07-14T00:00:00.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"ObjectId(""5f0fcf208b390b44eccabe6e"")",MEXICO,506022,"MEXICO CROSSINGS THROUGH PROGRESO, TX",2019,Truck,I,Watermelons,FALSE,2020-07-14T00:00:00.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"ObjectId(""5f0fcf208b390b44eccabe6d"")",MEXICO,40139,"MEXICO CROSSINGS THROUGH PRESIDIO, TX",2019,Truck,I,Watermelons,FALSE,2020-07-14T00:00:00.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"ObjectId(""5f0fcf208b390b44eccabe6c"")",MEXICO,92059,"MEXICO CROSSINGS THROUGH PHARR, TX",2019,Truck,I,Watermelons,FALSE,2020-07-14T00:00:00.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"ObjectId(""5f0fcf1e8b390b44eccabc26"")",MEXICO,261250,"MEXICO CROSSINGS THROUGH EAGLE PASS, TX",2019,Truck,I,Watermelons,FALSE,2020-07-13T00:00:00.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Columns: 16384 entries, _id to Unnamed: 16383
dtypes: object(16384)
memory usage: 1.9+ MB

In [5]:
df.columns

Index(['_id', 'originName', 'totalWeightSum', 'districtName', 'season',
       'transmode', 'impExpFlag', 'commodity', 'organic', 'reportDate',
       ...
       'Unnamed: 16374', 'Unnamed: 16375', 'Unnamed: 16376', 'Unnamed: 16377',
       'Unnamed: 16378', 'Unnamed: 16379', 'Unnamed: 16380', 'Unnamed: 16381',
       'Unnamed: 16382', 'Unnamed: 16383'],
      dtype='object', length=16384)

In [22]:
df.describe()

,_id,originName,totalWeightSum,districtName,season,transmode,impExpFlag,commodity,organic,reportDate,...,Unnamed: 16364,Unnamed: 16365,Unnamed: 16366,Unnamed: 16367,Unnamed: 16368,Unnamed: 16369,Unnamed: 16370,Unnamed: 16371,Unnamed: 16372,Unnamed: 16373
count,15,15,15,15,15,15,15,15,15,15,...,1,1,1,1,1,1,1,1,1,1
unique,15,2,15,7,2,2,2,3,3,7,...,1,1,1,1,1,1,1,1,1,1
top,Column1,MEXICO,Column3,"MEXICO CROSSINGS THROUGH EAGLE PASS, TX",2019,Truck,I,Watermelons,FALSE,2020-07-11T00:00:00.000Z,...,Column16365,Column16366,Column16367,Column16368,Column16369,Column16370,Column16371,Column16372,Column16373,Column16374
freq,1,14,1,3,14,14,14,13,13,4,...,1,1,1,1,1,1,1,1,1,1

In [19]:
df.head()

,_id,originName,totalWeightSum,districtName,season,transmode,impExpFlag,commodity,organic,reportDate,...,Unnamed: 16364,Unnamed: 16365,Unnamed: 16366,Unnamed: 16367,Unnamed: 16368,Unnamed: 16369,Unnamed: 16370,Unnamed: 16371,Unnamed: 16372,Unnamed: 16373
0,"ObjectId(""5f0fcf208b390b44eccabe6f"")",MEXICO,216436,"MEXICO CROSSINGS THROUGH EAGLE PASS, TX",2019,Truck,I,Watermelons,FALSE,2020-07-14T00:00:00.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"ObjectId(""5f0fcf208b390b44eccabe6e"")",MEXICO,506022,"MEXICO CROSSINGS THROUGH PROGRESO, TX",2019,Truck,I,Watermelons,FALSE,2020-07-14T00:00:00.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"ObjectId(""5f0fcf208b390b44eccabe6d"")",MEXICO,40139,"MEXICO CROSSINGS THROUGH PRESIDIO, TX",2019,Truck,I,Watermelons,FALSE,2020-07-14T00:00:00.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"ObjectId(""5f0fcf208b390b44eccabe6c"")",MEXICO,92059,"MEXICO CROSSINGS THROUGH PHARR, TX",2019,Truck,I,Watermelons,FALSE,2020-07-14T00:00:00.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"ObjectId(""5f0fcf1e8b390b44eccabc26"")",MEXICO,261250,"MEXICO CROSSINGS THROUGH EAGLE PASS, TX",2019,Truck,I,Watermelons,FALSE,2020-07-13T00:00:00.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN