In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('PUE-Investigation-Log-2018-2019.xlsx')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,Region,ID No.,User Type,Started,Status,Source,Complaint,Violation,Action,Fine
1,NaN,Ventura,INV-56-20190102-001,Home,2018-12-26 00:00:00,closed,PIR,Illness,NONE,none,NaN
2,NaN,Oxnard,INV-56-20190128-002,Industrial,2019-01-16 00:00:00,Closed,WHS,Illness,NONE,None,NaN
3,NaN,Ventura,INV-56-20190129-003,Commercial,2019-01-24 00:00:00,Closed,PIR,Illness,NONE,None,NaN
4,NaN,Santa Paula,INV-56-20190208-004,Industrial,2019-02-07 00:00:00,Closed,WHS,Illness,3CCR 6600. General Standards of Care,Pending,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   0 non-null      float64
 1   Unnamed: 1   82 non-null     object
 2   Unnamed: 2   81 non-null     object
 3   Unnamed: 3   81 non-null     object
 4   Unnamed: 4   82 non-null     object
 5   Unnamed: 5   82 non-null     object
 6   Unnamed: 6   82 non-null     object
 7   Unnamed: 7   82 non-null     object
 8   Unnamed: 8   75 non-null     object
 9   Unnamed: 9   64 non-null     object
 10  Unnamed: 10  11 non-null     object
dtypes: float64(1), object(10)
memory usage: 7.2+ KB

In [5]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10'],
      dtype='object')

In [6]:
df.describe()

       Unnamed: 0
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

In [7]:
len(df)

82

In [9]:
df.shape

(82, 11)